{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BMT Mobile - Editar usuário</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <h1>Anúncios</h1>
          <div class="brand-wrapper">
          </div>
          <div class="login-wrapper my-auto">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
              {% endwith %}
              <div class="content-section">
              <div class="center">
                <h1>Cadastrar anúncio com base em data</h1>
                <br/>
                {% if not creating_ad %}
                <form action="{{ url_for('main.delete_ads', id=ad.id) }}">
                  <input name="delete" id="delete" class="btn btn-block delete-btn" type="submit" value="Deletar anúncio">
                  </form>
                {% endif %}
                {{ wtf.quick_form(form) }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block fade-in-image">
          <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
