{% extends 'base.html' %}
{% block content %}
<section class="s-card-principal">
        <div class="container">
            <div class="main-card-principal">
                <div class="card-principal">
                    <a href="/card.html">
                    </a>
                </div>
                <div class="card-principal">
                    <a href="/card.html">

                    </a>
                </div>
                <div class="card-principal">
                    <a href="/card.html">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}